body {
    margin: 0;
    background-color: #f0f8ff; /* Light blue */
}

nav {
    border: solid 1px #007bff;
    background-color: #007bff; /* Blue */
    padding: 15px;
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

nav a {
    border: solid 1px #007bff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px;
    background-color: #f8f9fa; /* Light gray */
    color: #007bff;
    cursor: pointer;
    text-decoration: none;

}

nav a:hover {
    background-color: aqua; /* Darker blue on hover */
    color: #fff;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

footer {
    background-color: #f8f9fa; /* Light gray */
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
    margin-bottom: 75px;
}
th, td {
    border: 1px solid #dddddd; /* Add borders to cells */
    padding: 8px;
    text-align: left;
}
th
{
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid;
    border-color: #ccc;
}

.forms
{
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.logo
{
    width: 105px;
    height: auto;
    margin-right: auto;
}

#home-page-text-box {
    width: 50%; /* Adjust width as needed */
    margin: 0 auto; /* Center the element horizontally */
    position: relative; /* Position for pseudo-elements */
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-color: #ccc;
}

#home-page-title
{
    text-align: center;
}

#home-page-text
{
    text-align: center;
}

#transactionID-filter
{
    margin-left: 10px;
    display: flex;
    align-items: left;
}

#transacionIDFilter
{
    margin: 5px;
}

#selected-page
{
    background-color: #0056b3;
    color: #fff;
}

legend
{
    border-color: #ccc solid;
    border: 1px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

section {
    margin-bottom: 20px;
}

.update-form{
    border-width: 2px;
    border-color: black solid;
    padding: 5px;
    
}

#update-delete-buttons {
    display:flex;
    align-items: center;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.update-form{

    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-container-insert {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#customer-insert-form
{

    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.insert-customer-button{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: large;
    color: #0056b3;
    background-color: #f8f9fa;
    border: solid 1px #007bff;
    border-radius: 5px;
}

.insert-customer-button:hover{
    background-color: aqua; /* Darker blue on hover */
    color: #fff;
}

.update-buttons{
    background-color: rgb(3, 148, 39);
    color: #fff;

}

.update-buttons:hover{
    background-color: rgb(17, 246, 74);
    color: #fff;

}

.delete-buttons{
    background-color: rgb(166, 31, 31);
    color: #fff;

}

.delete-buttons:hover{
    background-color: rgb(255, 0, 0);
    color: #fff;

}